@tailwind base;

@layer base {
	.orange {
		/* Orange theme with rgb(59, 39, 22) background and rgb(169, 228, 77) foreground */
		--footer: 30 45% 20%;
		--primary-secondary: 30 60% 50%;
		--font-size: 1rem;
		--line-height: 1.5rem;

		--background: 27 46% 16%; /* rgb(59, 39, 22) */
		--foreground: 84 67% 60%; /* rgb(169, 228, 77) */
		--card: 27 46% 20%;
		--card-foreground: 84 67% 60%;
		--popover: 27 46% 20%;
		--popover-foreground: 84 67% 60%;
		--primary: 30 90% 50%;
		--primary-foreground: 27 46% 98%;
		--secondary: 27 46% 25%;
		--secondary-foreground: 84 67% 60%;
		--muted: 27 46% 25%;
		--muted-foreground: 84 67% 50%;
		--accent: 27 46% 25%;
		--accent-foreground: 84 67% 60%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 27 46% 98%;
		--border: 84 67% 60%; /* rgb(169, 228, 77) */
		--input: 84 67% 60%;
		--ring: 30 90% 50%;
		--radius: 0.625rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}
}
